@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

body,
html {
    background-image: url(https://raw.githubusercontent.com/Josip2201/Projektni-zadatak/main/Slike/pozadina.PNG);
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
   
}

header {
    display: block;
    width: 100%;
    overflow: hidden;
    
}

main {
    justify-content: center;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

nav{
    margin-top: 60px;
}

ul {
    justify-content: center;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

li {
    justify-content: center;
}

ul a {
    text-decoration: none;
    background: #616161;
    border: 1px solid whitesmoke;

}

li a {
    width: 80px;
    font-size: 22px;
    font-family: 'Saira Stencil One', cursive;
    display: block;
    color: #1d1b1b;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
    background-color: rgb(212, 145, 0);
}


figure.img{
    justify-items: center;
}

div.div1 {
    color: #313031;
    border-top-width: 15px;
    border-right-width: 8px;
    border-bottom-width: 8px;
    border-left-width: 8px;
    border-style: solid;
    width: 70%;
    box-shadow: 7px 7px 70px 7px black;
    background-color: #414040;
    margin-bottom: 30px;
    display: inline-block;

}

div.div2 {
    background-color: #414040;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    padding-top: 10px;
    padding-left: 15px;
    border: #222222 1px solid;
    border-bottom: none;
}

section { 
    display: grid; 
    grid-template-columns: 99%; 
    width: 75%;
}



    div {
        margin: 10px;
        padding: 10px 5px;
        background-color: #414040;
        border: #313031 solid 10px;
        color: whitesmoke;
    }

  

    @media only screen and (min-width: 480px) {
        section { 
            grid-template-columns: 50% 50%;
        }
    }
    @media only screen and (min-width: 900px) {
        section { 
            grid-template-columns: 33% 33% 33%;
        }
    }
    @media only screen and (min-width: 1200px) {
        section { 
            grid-template-columns: 33% 33% 33%;
        }
    }
    
    div img {
        width: 100%;
        border: #313031 solid 5px;
    }


    h1{
        padding-left: 15px;
       
    }
    
    p{
        padding-left: 15px;
        padding-right: 10px;
        line-height: 1.5;
    }

footer {
    color: whitesmoke;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: fixed;
  }